/*Los selectores*/
/*De forma universal, que selecciona todo lo que esta en el 
documento y lo cambia (*{})*/
/*Por tipo o nombre de etiqueta, lo que hace es que toma en especifico una
etiqueta y la modifica (h1{})*/
/*Por clase, lo que hace es que te permite poner una clase a la
parte que quieres cambiar, el nombre de la clase sera lo que la identifique (.primero{})*/
/*Por id, esto identifica algo en especifico con un valor unico(#primer{})*/
/*Por atributo, creamos un atributo que no existe y lo tomamos como
referencia para representarlo en el css([primer="eres un atributo"]{})*/
/*Por desendiente,si tenemos etiquetas dentro de etiquetas
(h1 p{})*/
/*Por seudo clase*/
/*Especificidad */
/*Medidas relativas y fijas*/
/*tipografia*/
*{
    padding: 0px;
    margin: 0px;
}
/*.bloke__principal{


    color:rgb(87, 20, 0);
    font-size: 1em;
    font-family: 'Bebas Neue', cursive;    line-height: 2;

    background-color: rgb(229, 147, 147);
}
.bloke__cuerpo{
    font-size: 20px;
    color: black;
    background-color:   rgb(182, 166, 166);;
}
.bloke__cuerpo-h2{
    color: red;
font-size: 1em  ;
}
.bloke__footer{
    color: rgb(147, 235, 238);
    font-size: 2em   ;
    background-color: darkgray;
}*/